@model Football_Fun_Facts.Models.Facts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Facts</h4>
    <hr />
    <dl class="row">      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactAnswer)
        </dd>
    </dl>
</div>
<div>
    <a style="margin-top:20px; text-decoration:none; color:cornflowerblue; font-family:'Yu Gothic'" asp-action="Index">Back to List</a>
</div>
