
<h1 style="color:cornflowerblue; font-family:'Yu Gothic'">Search for a Footbal Fact</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
            </div>            
            <div style="margin-top:20px; margin-bottom:20px" class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="text-decoration:none" asp-action="Index">Back to Facts List</a>
</div>