@{
    ViewData["Title"] = "Soccer Fun Facts";
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        
        <main>
            <section class="intro">
            <h1 style="color:cornflowerblue; font-family:'Yu Gothic'">Welcome to Soccer Fun Facts!</h1>
                <p>Discover interesting and quirky facts about your favorite sport.</p>
            </section>
        <hr style="margin-top:25px; margin-bottom:25px;" />
           <section>
            <img src="~/images/facts.png" height="500" width="100%" asp-append-version="true" />
        </section>
        <a style=" color:cornflowerblue; font-family:'Yu Gothic'; margin-top:20px; text-decoration:none; display: flex; justify-content: center; align-items: center;" href="#" class="cta-button">Explore More</a>
        </main>
    </body>
</html>